h1 {
    font-size: 1.4rem;
}
.login-font {
    background: url('/public/font4.jpg') no-repeat center center fixed;
    background-size: cover; 
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    height: 100vh;           /* prend toute la hauteur de l’écran */
}
.login {
    padding: 20px;
    
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: #eeeeeecf;
    border-radius: 5px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}
.logo_login {
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
}
